<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>journal app</title>
    <meta name="description" content="my journal">
    <script>

        function getTime() {
            var time = new Date();

            var timestate = document.getElementById("timelog");
            timestate.innerHTML = "current time" + time.getHours().toString() + ":" + time.getMinutes().toString() + ":" + time.getSeconds().toString() + time.getDay().toString() + "/" + time.getMonth().toString() + "/" + time.getFullYear().toString();
        }
        setInterval(getTime, 1000)
    </script>
</head>
<style>
    #searchbox {
        background: blue;

    }

    #addform {
        background: cyan;
    }
</style>

<body onload="getTime();">

    <fieldset id="searchbox">
        <form action="/search" method="GET">
            <input type="search" name="title" id="">
            <input type="submit" value="find entrty">

        </form>
        <form id="addform" action="/add" method="POST">
            <fieldset>
                <header>
                    <h1>austin's journal</h1>
            </fieldset>
            </header>
            <h2>my journal</h2>
            Title
            <input required type="text" name="title">
            Desc
            <input required type="text" name="desc">
            <input type="submit" value="add">
            <input type="reset">

    </fieldset>
    </form>
    <form method="POST" action="/delete">
        <legend>
            record to delete
            <input type="text" name="title" value="enter a query">
            <input type="submit">
        </legend>
    </form>
    <legend>
        <a href="/logtorecord"><button>
                send
            </button></a>
    </legend>
    {% block code %}

    {% for enttry in a %}
    <div class="Entry">
        <h2
            style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
            {{enttry[0]}}</h2>
        <hr>
        <p>{{enttry[1]}}</p>
        <hr>
    </div>
    {% endfor %}

    {% endblock %}
    <span style="border: 1px solid black; border-radius: 4cm;" id="timelog"></span>
    <fieldset>
        <figcaption>mail message stats</figcaption>
        {{msg}}
    </fieldset>
    <a href="/index">home</a>
    <address>
        4318 stern ave
        91425
    </address>
    <caption> &copy;opyright austin-heisley-cook</caption>
</body>

</html>